@charset "utf-8";

/* Project Name.: Doe +
   Author.......: Thulio Philipe
   Company......: Mr. Freelaman
   Version......: v1.0 | 31-05-2012
....................................... */

h2{
	color:#FFF;
	padding:10px 20px 10px 350px;
	font-size:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

h5{
	color:#000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	padding:10px 5px 10px 5px;
}

h1, h3{
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	border-bottom:1px solid #000; /*linha abaixo do h1*/
	padding-bottom:0.5em; /*distancia do elemento pra linha*/
}

p{
	font-family:Tahoma, Geneva, sans-serif;
	color:#000;
		
}

